.post {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  border-radius: 5px;
}

.post h2 {
  color: #0073aa;
}

.post p {
  line-height: 1.8;
}

.wp-block-heading {
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-weight: bold;
}

.wp-block-list ul {
  margin-bottom: 8px;
}

ul {
  margin-bottom: 15px !important;
  margin-top: 10px !important;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

p + p {
  margin-top: 15px;
}

blockquote {
  background-color: #eff2fb;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px !important;
  color: #1d3272;
}
